@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gideon Roman", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
